In [8]:
import numpy as np
import scipy as sp
import pandas as pd


df = pd.read_csv('adult-test_titled.csv')
meta = pd.read_csv('meta-data-bin.csv')

In [9]:
df.count()

age               16281
workclass         16281
fnlwgt            16281
eudcation         16281
education_num     16281
marital_status    16281
occupation        16281
relationship      16281
race              16281
gender            16281
capital_gain      16281
capital_loss      16281
hours_per_week    16281
native_country    16281
income_bracket    16281
dtype: int64

In [10]:
meta.count()

CID                                        50025
Category.Shoes                             50025
Category.Boots                             50025
Category.Sandals                           50025
Category.Slippers                          50025
SubCategory.Oxfords                        50025
SubCategory.Mid.Calf                       50025
SubCategory.Heel                           50025
SubCategory.Ankle                          50025
SubCategory.Boot                           50025
SubCategory.Loafers                        50025
SubCategory.Slipper.Flats                  50025
SubCategory.Boat.Shoes                     50025
SubCategory.Flat                           50025
SubCategory.Clogs.and.Mules                50025
SubCategory.Flats                          50025
SubCategory.Sneakers.and.Athletic.Shoes    50025
SubCategory.Slipper.Heels                  50025
SubCategory.Heels                          50025
SubCategory.Athletic                       50025
SubCategory.Prewalker                      50025
SubCategory.Knee.High                      50025
SubCategory.Prewalker.Boots                50025
SubCategory.Crib.Shoes                     50025
SubCategory.Firstwalker                    50025
SubCategory.Over.the.Knee                  50025
HeelHeight.1in...1.3.4in                   50025
HeelHeight.2in...2.3.4in                   50025
HeelHeight.Under.1in                       50025
HeelHeight.Flat                            50025
                                           ...
Material.Ripstop                           50025
Material.Linen                             50025
Material.Cable.Knit                        50025
Material.Crochet                           50025
Material.Raffia                            50025
Material.Steel                             50025
Material.Chiffon                           50025
Material.Horse.Hair                        50025
Material.Exotic                            50025
Material.Plastic                           50025
Material.Stingray                          50025
ToeStyle.Capped Toe                        50025
ToeStyle.Round Toe                         50025
ToeStyle.Square Toe                        50025
ToeStyle.Closed Toe                        50025
ToeStyle.Snub Toe                          50025
ToeStyle.Moc Toe                           50025
ToeStyle.Bicycle Toe                       50025
ToeStyle.Wingtip                           50025
ToeStyle.Open Toe                          50025
ToeStyle.Center Seam                       50025
ToeStyle.Pointed Toe                       50025
ToeStyle.Algonquin                         50025
ToeStyle.Almond                            50025
ToeStyle.Bump Toe                          50025
ToeStyle.Apron Toe                         50025
ToeStyle.Wide Toe Box                      50025
ToeStyle.Snip Toe                          50025
ToeStyle.Peep Toe                          50025
ToeStyle.Medallion                         50025
Length: 152, dtype: int64

In [11]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,16281.000000,1.628100e+04,16281.000000,16281.000000,16281.000000,16281.000000
mean,38.767459,1.894357e+05,10.072907,1081.905104,87.899269,40.392236
std,13.849187,1.057149e+05,2.567545,7583.935968,403.105286,12.479332
min,17.000000,1.349200e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.167360e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.778310e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.383840e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,3770.000000,99.000000

In [12]:
meta.describe()

,Category.Shoes,Category.Boots,Category.Sandals,Category.Slippers,SubCategory.Oxfords,SubCategory.Mid.Calf,SubCategory.Heel,SubCategory.Ankle,SubCategory.Boot,SubCategory.Loafers,...,ToeStyle.Center Seam,ToeStyle.Pointed Toe,ToeStyle.Algonquin,ToeStyle.Almond,ToeStyle.Bump Toe,ToeStyle.Apron Toe,ToeStyle.Wide Toe Box,ToeStyle.Snip Toe,ToeStyle.Peep Toe,ToeStyle.Medallion
count,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,...,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000,50025.000000
mean,0.603078,0.256512,0.114763,0.025647,0.040860,0.094433,0.002519,0.117041,0.000280,0.057471,...,0.009495,0.025527,0.001779,0.030025,0.016572,0.001039,0.003718,0.008816,0.028826,0.003098
std,0.489264,0.436712,0.318738,0.158082,0.197967,0.292433,0.050124,0.321473,0.016727,0.232743,...,0.096981,0.157722,0.042142,0.170658,0.127661,0.032225,0.060864,0.093478,0.167318,0.055578
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
df.head(10)

,age,workclass,fnlwgt,eudcation,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K.
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K.
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K.
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K.

In [14]:
meta.head(10)

,CID,Category.Shoes,Category.Boots,Category.Sandals,Category.Slippers,SubCategory.Oxfords,SubCategory.Mid.Calf,SubCategory.Heel,SubCategory.Ankle,SubCategory.Boot,...,ToeStyle.Center Seam,ToeStyle.Pointed Toe,ToeStyle.Algonquin,ToeStyle.Almond,ToeStyle.Bump Toe,ToeStyle.Apron Toe,ToeStyle.Wide Toe Box,ToeStyle.Snip Toe,ToeStyle.Peep Toe,ToeStyle.Medallion
0,100627-72,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,100627-255,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,100657-72,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,100657-216,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,101026-3,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,101093-316189,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,101093-316195,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,101093-316313,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8,101093-342648,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,101175-325,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
len(meta.columns)
#too many columns we do not need all of them so we are going to select part of them as our features.

152

In [16]:
df.axes

[RangeIndex(start=0, stop=16281, step=1),
 Index(['age', 'workclass', 'fnlwgt', 'eudcation', 'education_num',
        'marital_status', 'occupation', 'relationship', 'race', 'gender',
        'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
        'income_bracket'],
       dtype='object')]

In [17]:
meta.axes

[RangeIndex(start=0, stop=50025, step=1),
 Index(['CID', 'Category.Shoes', 'Category.Boots', 'Category.Sandals',
        'Category.Slippers', 'SubCategory.Oxfords', 'SubCategory.Mid.Calf',
        'SubCategory.Heel', 'SubCategory.Ankle', 'SubCategory.Boot',
        ...
        'ToeStyle.Center Seam', 'ToeStyle.Pointed Toe', 'ToeStyle.Algonquin',
        'ToeStyle.Almond', 'ToeStyle.Bump Toe', 'ToeStyle.Apron Toe',
        'ToeStyle.Wide Toe Box', 'ToeStyle.Snip Toe', 'ToeStyle.Peep Toe',
        'ToeStyle.Medallion'],
       dtype='object', length=152)]

In [18]:
labels = meta.axes[1].tolist()
#turn the meta data file to our label list
labels.pop(0) # we don't want the first one "CID"
print(len(labels))

151

In [19]:
SubCategory = list()
Category = list()
HeelHeight = list()
Closure = list()
Gender = list()
Material = list()
ToeStyle = list()
# we don't want the insole column
for label in labels:    
    shortLabel = label[label.find(".")+1:]   
    #print(shortLabel)
    if "SubCategory" in label:
       SubCategory.append(shortLabel)
    elif  "Category" in label:
       Category.append(shortLabel)
    elif  "HeelHeight" in label:
       HeelHeight.append(shortLabel)
    elif  "Closure" in label:
       Closure.append(shortLabel)
    elif  "Gender" in label:
       Gender.append(shortLabel)
    elif  "Material" in label:
       Material.append(shortLabel)
    elif  "ToeStyle" in label:
       ToeStyle.append(shortLabel)

In [37]:
len(SubCategory)

21

In [21]:
ToeStyle

['Capped Toe',
 'Round Toe',
 'Square Toe',
 'Closed Toe',
 'Snub Toe',
 'Moc Toe',
 'Bicycle Toe',
 'Wingtip',
 'Open Toe',
 'Center Seam',
 'Pointed Toe',
 'Algonquin',
 'Almond',
 'Bump Toe',
 'Apron Toe',
 'Wide Toe Box',
 'Snip Toe',
 'Peep Toe',
 'Medallion']

In [22]:
Closure

['Lace.up',
 'Pull.on',
 'Buckle',
 'Ankle.Strap',
 'Hook.and.Loop',
 'Zipper',
 'Slip.On',
 'Elastic.Gore',
 'Ankle.Wrap',
 'Sling.Back',
 'Bungee',
 'Toggle',
 'Adjustable',
 'Snap',
 'Button.Loop',
 'T.Strap',
 'Monk.Strap',
 'Spat.Strap',
 'Belt']

In [23]:
Category

['Shoes', 'Boots', 'Sandals', 'Slippers']

In [34]:
SubCategory

['Oxfords',
 'Mid.Calf',
 'Heel',
 'Ankle',
 'Boot',
 'Loafers',
 'Slipper.Flats',
 'Boat.Shoes',
 'Flat',
 'Clogs.and.Mules',
 'Flats',
 'Sneakers.and.Athletic.Shoes',
 'Slipper.Heels',
 'Heels',
 'Athletic',
 'Prewalker',
 'Knee.High',
 'Prewalker.Boots',
 'Crib.Shoes',
 'Firstwalker',
 'Over.the.Knee']

In [33]:
Gender

['Men', 'Women', 'Boys', 'Girls']

In [36]:
HeelHeight

['1in...1.3.4in',
 '2in...2.3.4in',
 'Under.1in',
 'Flat',
 '4in...4.3.4in',
 '3in...3.3.4in',
 '5in...over']

In [50]:
print(df.iloc[2,:])

age                                28
workclass                   Local-gov
fnlwgt                         336951
eudcation                  Assoc-acdm
education_num                      12
marital_status     Married-civ-spouse
occupation            Protective-serv
relationship                  Husband
race                            White
gender                           Male
capital_gain                        0
capital_loss                        0
hours_per_week                     40
native_country          United-States
income_bracket                  >50K.
Name: 2, dtype: object

In [80]:
#build user profiles 
#for user 2
customer_profile = np.zeros((len(df),15))
print (customer_profile[1])

[ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]

In [81]:
len(df)

16281

In [91]:
for i in range(len(df)):
# Gender
    if "Female" in df.iloc[i,9]:
        customer_profile[i][1]=1
        if "Child" in df.iloc[i,7]:
            customer_profile[i][8]=1
            customer_profile[i][10]=1
            customer_profile[i][11]=1
        elif "Never-married" in df.iloc[i,5] or "Divorced" in df.iloc[i,5] or "Separated" in df.iloc[i,5]:
            customer_profile[i][9]=1
            customer_profile[i][12]=1
            customer_profile[i][13]=1
            customer_profile[i][14]=1
    elif "Male" in df.iloc[i,9]:
        customer_profile[i][0]=1          
    #boys girls?
    if "Machine" in df.iloc[i,6] or "Tech" in df.iloc[i,6] or "Prof" in df.iloc[i,6] or "Transport" in df.iloc[i,6] or "managerial" in df.iloc[i,6]:
        #Shoes
        customer_profile[i][4]=1
    if "fishing" in df.iloc[1,6] or "Armed" in df.iloc[i,6] or "cleaners" in df.iloc[i,6]:
        #Boots
        customer_profile[i][5]=1
    if "service" in df.iloc[i,6]: 
        #Sandals
        customer_profile[i][6]=1
    if "Craft" in df.iloc[i,6]:
        #Slippers
        customer_profile[i][7]=1

In [92]:
customer_profile[11005]

array([ 0.,  1.,  0.,  0.,  1.,  1.,  0.,  0.,  0.,  1.,  0.,  0.,  1.,
        1.,  1.])

In [93]:
df.iloc[11005,:]

age                               29
workclass                    Private
fnlwgt                        153475
eudcation                       11th
education_num                      7
marital_status              Divorced
occupation         Machine-op-inspct
relationship               Unmarried
race                           White
gender                        Female
capital_gain                       0
capital_loss                       0
hours_per_week                    40
native_country         United-States
income_bracket                <=50K.
Name: 11005, dtype: object